// archivo: scss/abstracts/_variables.scss
$color-primario: rgb(2, 30, 48);
$color-secundario: rgb(58, 39, 230);
$color-texto:  rgb(255, 255, 255);
$color-destacado: rgb(255, 255, 255);
$color-fondo: rgb(8, 8, 20);

$color-exito: green ;
$color-alerta: yellow ;
$color-error: red ;

$radio: 8px;
$fuente-general: Arial, sans-serif;