body{

    background:#110c17;
    font-family:Consolas,sans-serif;
    color:white;

}

/* fondo estrellado xd */

body::before{

    content:"";
    position:fixed;

    width:100%;
    height:100%;

    background-image:
    radial-gradient(
        rgb(60, 0, 93) 1px,
        transparent 3px
    );

    background-size:
    50px 50px;

    opacity:.2;
    z-index:-1;

}

/* cards y su hover */

.card{

    padding:25px;

    background:linear-gradient(
        135deg,
        #110c17,
        #1d0b1b
    );

    color:white;

    text-align:center;

    border:none;
    border-radius:15px;

    box-shadow:
        0 10px 25px rgba(0,35,133,.4);

    transition:
        transform 1.3s,
        box-shadow 1.3s;
}

.card:hover{

    transform:translateY(-20px);

    box-shadow:
        0 15px 30px rgba(0, 110, 255, 0.532);

}

/* datos de las cards */

.card h5{

    font-size: 2.0rem;
    font-weight:bold;
    margin-bottom:15px;

}

.icono-planeta{

    font-size:6rem;
    margin-bottom:5px;

}

.temperatura{

    font-size:2rem;
    font-weight:bold;
    color:#87cefa;
    margin-bottom:10px;

}

.estado{

    opacity:.8;
    margin-bottom:20px;

}

/* aside */

aside{

    background:#1d0b1b;
    color:white;

}

/* navbar */

.navbar{

    box-shadow:
        0 5px 15px
        rgba(0, 0, 0, 0.4);

}


/* botones */

.btn{

    transition: transform .3s;

}

.btn:hover{

    transform:scale(1.05);

}