body{
    background:#ffffff;
    font-family:Consolas,sans-serif;
}

.card{
    padding:25px;

    border-radius:20px;
    border:5px solid rgb(8, 0, 65);

    background:linear-gradient(
        135deg,
        #ac6cff,
        #fed3f8
    );

    color:rgb(255, 255, 255);
    text-align:center;

    box-shadow:0 10px 25px rgba(0, 35, 133, 0.4);

    transition:transform .3s, box-shadow .3s;
}